[Desktop Entry]
Name=TvStalker
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/TvStalker/TvStalker.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
