<div class="footer">
    <div class="container">
        <div class="row">
            <div class="span6 logo-vt">
                <a class="brand" href="#">
                    <span>Choose</span><span class="cl-blue">Logo</span>
                </a>
                <span class="coppy_right">
                    <p>Lorem ipsum dolor sit </p>
                    <p>@2012 All Rights Reserved.</p>
                </span>
            </div>
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="nav-header">Contact</li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">About</a></li>
                    <li>84.903.197.895</li>
                </ul>
            </div>
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="nav-header">Blog</li>
                    <li><a href="#">Regulation</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="nav-header">Follow Us</li>
                    <li><a href="#"><i class="twitter"></i>Twitter</a></li>
                    <li><a href="#"><i class="facebook"></i>Facebook</a></li>
                    <li><a href="#"><i class="dd"></i>Forum</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->