{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html>
<head>
    <title>Tv Stalker!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/color-button.css' %}" />
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true">

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url 'home' %}">
                <span>Tv </span><span class="cl-blue">Stalker!</span>
            </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li class="divider-vertical"></li>
<!--
                      <li><a href="{% url 'home' %}">Friends</a></li>
                      <li class="divider-vertical"></li>
-->
                      <li><a href="{% url 'explore' %}">Explore</a></li>
                      <li class="divider-vertical"></li>

                    {% if user %}
                      <li class="avatar_small"><a href="{% url 'home' %}"></a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                {{ user.username }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
<!--
                                <li>
                                    <a href="{% url 'profile' %}">
                                        <i class="icon-user"></i>
                                        Account Setting  </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'report' %}">
                                        <i class="icon-envelope"></i> Report Bug</a>
                                </li>
-->
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'account_logout' %}"><i class="icon-off"></i> Logout</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end navbar -->

{% block content %}{% endblock %}

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="span6 logo-vt">
                <a class="brand" href="{% url 'home' %}">
                    <span>Tv </span><span class="cl-blue">Stalker!</span>
                </a>
                <span class="coppy_right">
                    <p>@2012-2013 All your Tv Shows are belong to us.</p>
                    <p><b>Thanks to: <a href="http://thetvdb.com/">TheTVDB.com</a></b></p>
                </span>
            </div>
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="nav-header">Info</li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="https://github.com/diegosarmentero/tvstalker">Source Code</a></li>
                </ul>
            </div>
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="nav-header">Help Us</li>
                    <br>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=384BA8JMN39NS" class="btn btn-red-s2">Donate!</a>
                </ul>
            </div>
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="nav-header">Follow</li>
                    <li><a href="https://twitter.com/diegosarmentero"><i class="twitter"></i>Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

{% block scripts %}
<!-- js Boots_from -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- end Boots_from -->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4650617-17']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock scripts %}

</body>
</html>