{% extends "base/base.html" %}

{% block content %}

<script src="static/js/jquery.rs.slideshow.min.js"></script>
<script>
    $(document).ready(function () {
        $('#slideshow-div').rsfSlideshow();
    });
</script>

<div class="main">
    <div class="container">
        <div class="row row-login">
            <div class="span3 sidebar_content">
                <div class="row">
                    <div class="span3 user_info">
                        <ul>
                            <li><a class="avatar" href="#"><img src="static/img/gatox.jpg"></a></li>
                            <li><a href="mailto:diegosarmentero@tvstalker.tv" class="btn btn-danger" href="#"><i class="icon-envelope icon-white"></i>Send Mail</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- end sidebar_content -->
            <div class="span9">
                <div class="widget">
                    <div class="widget-content">
                        <h3 class="title"><a href="#">About: Diego Sarmentero</a></h3>
                        <p>Me (Diego Sarmentero), I'm the creator of Tv Stalker, what are the reason of doing this?</p>
                        <p>- Am i a really hugh fan of web development? NO</p>
                        <p>- World domination, you might think? NO</p>
                        <p>- To find the answer to the Ultimate Question of Life, the Universe, and Everything? 42... and NO</p>
                        <br>
                        <p>This is just because I'm a Tv Shows addict (that means i watch a lot of Tv Shows at the same time), and i was tired of having to keep track of the airdates and stuff.</p>
                        <p>I hope you enjoy too! :D</p>
                    </div>
                </div>
            </div><!-- end span9 -->
        </div>
    </div><!-- end container -->
</div><!-- end main -->

{% endblock %}