<!DOCTYPE html>
<html>
<head>
	<title>detail</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="assets/css/global.css" />
	<link type="text/css" rel="stylesheet" href="assets/css/color-button.css" />
	<!-- js Boots_from -->
	<script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
	<!-- end Boots_from -->
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true">

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">
				<span>Choose</span><span class="cl-blue">Logo</span>
			</a>
			<div class="nav-collapse">
				<ul class="nav pull-right">
              		<li><a href="index.html">Home</a></li>
              		<li><a href="blog.html">Blog</a></li>
              		<li><a href="element.html">Element</a></li>
              		<li><a href="detail.html">Detail</a></li>
              		<li><a href="pricing-plans.html">Pricing Plans</a></li>
					<li><a href="grid-layout.html">Grid Layout</a></li>

              		<li class="divider-vertical"></li>

              		<li class="avatar_small"><a href="account.html"></a></li>
            		<li class="dropdown">
            			<a class="dropdown-toggle" href="#" data-toggle="dropdown">
	            			john doe
	            			<b class="caret"></b>
            			</a>
            			<ul class="dropdown-menu">
							<li>
								<a href="profile.html">
									<i class="icon-user"></i>
									Account Setting  </a>
							</li>
							<li>
								<a href="setting.html">
									<i class="icon-lock"></i> Change Password</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="login.html"><i class="icon-off"></i> Logout</a>
							</li>
						</ul>
            		</li>
            	</ul>
			</div>
		</div>
	</div>
</div>
<!-- end navbar -->
<div class="main">
	<div class="container">
		<div class="row">
			<div class="box-wrapper span9">
				<div class="row">
					<div class="box-content-widget box-video-play span9">
						<div class="row">
							<div class="title bg-title span9">
								<h3>Lorem ipsum dolor sit ...</h3>
							</div>
						</div>
						<div class="widget">
							<div class="widget-content">
								<div class="video-play">
									<a href="#"><img src="assets/img/video.jpg"></a>
								</div>
							</div>
						</div>
					</div><!-- end video-play -->
				</div>

				<div class="row">
					<div class="box-content-widget span9">
						<div class="row">
							<div class="title bg-title span9">
								<h3>Detail file</h3>
							</div>
						</div>
						<div class="widget">
							<div class="widget-content-pd">
								<p class="ct-img"><a href="#"><img src="assets/img/img-blog4.jpg"></a></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<p class="ct-img"><a href="#"><img src="assets/img/img-blog2.jpg"></a></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<p class="ct-img"><a href="#"><img src="assets/img/img-blog3.jpg"></a></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								
								<div class="box-message">
									<h3 class="title">Discuss This Project: (11 Comments)</h3>
									<ul class="box-message-content">
										<li>
											<a class="avatar-comment span1" href="#">
												<img src="assets/img/cm-1.jpg">
											</a>
											<div class="message-wrapper span6">
												<div class="text-message">
													<a href="#">
														jane doe
													</a>
													<span class="comment-data">
														Apr 16th at 4:49pm
													</span>
													<span class="comment-text-wrap">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ....Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ....
													</span>
												</div>
											</div>
										</li>

										<li>
											<a class="avatar-comment span1" href="#">
												<img src="assets/img/cm-3.jpg">
											</a>
											<div class="message-wrapper span6">
												<div class="text-message">
													<a href="#">
														jane doe
													</a>
													<span class="comment-data">
														Apr 16th at 4:49pm
													</span>
													<span class="comment-text-wrap">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ....
													</span>
												</div>
											</div>
										</li>

										<li>
											<a class="avatar-comment span1" href="#">
												<img src="assets/img/cm-2.jpg">
											</a>
											<div class="message-wrapper span6">
												<div class="text-message">
													<a href="#">
														jane doe
													</a>
													<span class="comment-data">
														Apr 16th at 4:49pm
													</span>
													<span class="comment-text-wrap">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ....Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ....Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ....
													</span>
												</div>
											</div>
										</li>
									</ul>

									<div class="box-add-comment">
										<div>
											<div class="avatar-comment span1" href="#">
												<img src="assets/img/avatar-cm.png">
											</div>

											<div class="message-wrapper span6">
												<form class="form-comment">
													<input type="text">
												</form>
											</div>
										</div>
									</div>

									<div>
										<button class="view-more border-rd4">View More ↓</button>
									</div>
								</div><!-- box-message -->

							</div>
						</div><!-- widget -->
					</div><!-- box-content-widget -->
				</div><!-- row -->
			</div><!-- end body-content -->
			
			<div class="sidebar-content span3">
				<div class="row">
					<div class="list-menu box-wrapper span3">
						<div class="row">
							<div class="title bg-title span3">
								<h3>List menu</h3>
							</div>
						</div>
						<ul class="nav nav-list">
							<li><a href="index.html"><i class="icon-home"></i>Home</a></li>
							<li class="active"><a href="#"><i class="icon-book"></i>Detail</a></li>
							<li><a href="#"><i class="icon-list"></i>List Menu</a></li>
							<li><a href="#"><i class="icon-list-alt"></i>List Alt Menu</a></li>
						</ul>
					</div>
				</div><!-- row -->
				<div class="row">
					<div class="box-wrapper span3">
						<div class="row">
							<div class="title bg-title span3">
								<h3>Recommended</h3>
							</div>
						</div>
						<ul class="thumbnails thumbnails-horizontal">
							<li class="span3">
								<div class="thumbnail border-radius-top">
									<div class="bg-thumbnail-img">
										<a class="overlay" href="detail.html">
											<img src="assets/img/icons/play.png">
										</a>
										<img class="border-radius-top" src="assets/img/project/pj1.jpg">
									</div>
									<h5><a href="detail.html">Lorem ipsum dolor sit  </a></h5>
								</div>
								<div class="box border-radius-bottom">
									<p>
										<span class="title_torrent pull-left">Movie</span>
										<span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
									</p>
								</div>
							</li>
							<li class="span3">
								<div class="thumbnail border-radius-top">
									<div class="bg-thumbnail-img">
										<a class="overlay" href="detail.html">
											<img src="assets/img/icons/play.png">
										</a>
									<img class="border-radius-top" src="assets/img/project/pj2.jpg">
									</div>
									
									<h5><a href="detail.html">Lorem ipsum dolor sit </a></h5>
								</div>
								<div class="box border-radius-bottom">
									<p>
										<span class="title_torrent pull-left">Movie</span>
										<span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
									</p>
								</div>
							</li>
							<li class="span3">
								<div class="thumbnail border-radius-top">
									<div class="bg-thumbnail-img">
										<a class="overlay" href="detail.html">
											<img src="assets/img/icons/play.png">
										</a>
									<img class="border-radius-top" src="assets/img/project/pj3.jpg">
									</div>
									
									<h5><a href="detail.html">Lorem ipsum dolor sit </a></h5>
								</div>
								<div class="box border-radius-bottom">
									<p>
										<span class="title_torrent pull-left">Movie</span>
										<span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
									</p>
								</div>
							</li>
							<li class="span3">
								<div class="thumbnail border-radius-top">
									<div class="bg-thumbnail-img">
										<a class="overlay" href="detail.html">
											<img src="assets/img/icons/play.png">
										</a>
									<img class="border-radius-top" src="assets/img/project/pj4.jpg">
									</div>
									
									<h5><a href="detail.html">Lorem ipsum dolor sit </a></h5>
								</div>
								<div class="box border-radius-bottom">
									<p>
										<span class="title_torrent pull-left">Movie</span>
										<span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
									</p>
								</div>
							</li>

							<li class="span3">
								<div class="thumbnail border-radius-top">
									<div class="bg-thumbnail-img">
										<a class="overlay" href="detail.html">
											<img src="assets/img/icons/play.png">
										</a>
									<img class="border-radius-top" src="assets/img/project/pj5.jpg">
									</div>
									
									<h5><a href="detail.html">Lorem ipsum dolor sit </a></h5>
								</div>
								<div class="box border-radius-bottom">
									<p>
										<span class="title_torrent pull-left">Movie</span>
										<span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
									</p>
								</div>
							</li>

							<li class="span3">
								<div class="thumbnail border-radius-top">
									<div class="bg-thumbnail-img">
										<a class="overlay" href="detail.html">
											<img src="assets/img/icons/play.png">
										</a>
									<img class="border-radius-top" src="assets/img/project/pj8.jpg">
									</div>
									
									<h5><a href="detail.html">Lorem ipsum dolor sit </a></h5>
								</div>
								<div class="box border-radius-bottom">
									<p>
										<span class="title_torrent pull-left">Movie</span>
										<span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
									</p>
								</div>
							</li>
						</ul>
					</div><!-- end thumbnails-style1 -->
				</div><!-- row -->

			</div><!-- end sidebar-content -->
		</div><!-- row -->
	</div><!-- end container -->
</div><!-- end main -->

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="span6 logo-vt">
				<a class="brand" href="#">
					<span>Choose</span><span class="cl-blue">Logo</span>
				</a>
				<span class="coppy_right">
					<p>Lorem ipsum dolor sit </p>
					<p>@2012 All Rights Reserved.</p>
				</span>
			</div>
			<div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">Contact</li>
					<li><a href="#">Support</a></li>
					<li><a href="#">About</a></li>
					<li>84.903.197.895</li>
				</ul>
			</div>
			<div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">Blog</li>
					<li><a href="#">Regulation</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
			<div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">Follow Us</li>
					<li><a href="#"><i class="twitter"></i>Twitter</a></li>
					<li><a href="#"><i class="facebook"></i>Facebook</a></li>
					<li><a href="#"><i class="dd"></i>Forum</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->
<script type="text/javascript">

</script>
</body>
</html>

