{% extends "base/base.html" %}

{% block content %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="box-wrapper span12">
                <div class="widget">
                    <div class="wrapper-search">
                        <form class="form-inline form-search border-rd4">
                            <input placeholder="Type the name of a Tv Show to follow ..." type="text" class="box-text">
                            <a href="#"class="btn-search"></a>
                        </form>
                    </div>
                </div>
            </div><!-- end box-wrapper -->
        </div>
        <div class="row">
            <div class="box-wrapper  span12">

                <div class="row">
                    <div class="title span12">
                        <h3 class="pull-left">My Tv Shows!</h3>
                        <div class="sort pull-right dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Display Shows
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-tag"></i>Currents</a></li>
                                <li><a href="#"><i class="icon-list"></i>From all times</a></li>
                                <!--li><a href="#"><i class="icon-eye-open"></i>View</a></li-->
                            </ul>
                        </div>
                    </div><!-- end title -->
                </div>
                <ul class="thumbnails thumbnails-horizontal">
                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail.html">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/shows/revolution.jpg">
                            </div>
                            <h5><a href="detail.html">Revolution</a></h5>
                            <h5><a href="detail.html">Season: 01  |  Episode: 04</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left pull-left">TODAY</span>
                                <!--span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span-->
                            </p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail.html">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/shows/dexter.jpg">
                            </div>
                            <h5><a href="detail.html">Dexter</a></h5>
                            <h5><a href="detail.html">Season: 07  |  Episode: 03</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Next Episode</span>
                                <span class="number-view pull-right">Dec 23, 2012</span>
                            </p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail.html">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/shows/arrow.jpg">
                            </div>
                            <h5><a href="detail.html">Arrow</a></h5>
                            <h5><a href="detail.html">Season: 01  |  Episode: 02</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">People watching</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail.html">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/shows/bones.jpg">
                            </div>
                            <h5><a href="detail.html">Bones</a></h5>
                            <h5><a href="detail.html">Season: 08  |  Episode: 04</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">People watching</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>

                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail.html">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/shows/criminal_minds.jpg">
                            </div>
                            <h5><a href="detail.html">Criminal Minds</a></h5>
                            <h5><a href="detail.html">Season: 08  |  Episode: 03</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">People watching</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>

                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail.html">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/shows/continuum.jpg">
                            </div>
                            <h5><a href="detail.html">Continuum</a></h5>
                            <h5><a href="detail.html">Season: 02  |  Episode: 01</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">People watching</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>

                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail.html">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/shows/beauty.jpg">
                            </div>
                            <h5><a href="detail.html">Beauty and the Beast</a></h5>
                            <h5><a href="detail.html">Season: 01  |  Episode: 02</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">People watching</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>

                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail.html">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/shows/big_bang.jpg">
                            </div>
                            <h5><a href="detail.html">The Big Bang Theory</a></h5>
                            <h5><a href="detail.html"></a>Season: 06  |  Episode: 04</h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">People watching</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div><!-- end  -->

    </div><!-- end container -->
</div><!-- end main -->
{% endblock %}