{% extends "base/base.html" %}

{% block content %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="box-wrapper span12">
                <div class="widget">
                    <div class="wrapper-search">
                        <form class="form-inline form-search border-rd4">
                            <input placeholder="Type the name of a Tv Show to follow ..." type="text" class="box-text">
                            <a href="#"class="btn-search"></a>
                        </form>
                    </div>
                </div>
            </div><!-- end box-wrapper -->
        </div>
        <div class="row">
            <div class="box-wrapper  span12">

                <div class="row">
                    <div class="title span12">
                        <h3 class="pull-left">My Tv Shows!</h3>
                        <div class="sort pull-right dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Display Shows
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-tag"></i>Currents</a></li>
                                <li><a href="#"><i class="icon-list"></i>From all times</a></li>
                            </ul>
                        </div>
                    </div><!-- end title -->
                </div>
                <ul class="thumbnails thumbnails-horizontal">
                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="#">
                                    <img src="static/img/icons/play.png">
                                    <p>Soul Train</p>
                                </a>
                                <img class="border-radius-top" src="static/img/shows/revolution.jpg">
                            </div>
                            <h5><a href="#">Revolution</a></h5>
                            <h5><a href="#">Season: 01  |  Episode: 04</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left pull-left">TODAY</span>
                                <!--span class="number-view pull-right">1,444,898</span-->
                            </p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="#">
                                    <img src="static/img/icons/play.png">
                                    <p>Buck The System</p>
                                </a>
                                <img class="border-radius-top" src="{{ image_key }}">
                            </div>
                            <h5><a href="#">Dexter</a></h5>
                            <h5><a href="#">Season: 07  |  Episode: 03</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">TODAY</span>
                                <!--span class="number-view pull-right">TODAY</span-->
                            </p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="#">
                                    <img src="static/img/icons/play.png">
                                    <p>Honor Thy Father</p>
                                </a>
                                <img class="border-radius-top" src="static/img/shows/arrow.jpg">
                            </div>
                            <h5><a href="#">Arrow</a></h5>
                            <h5><a href="#">Season: 01  |  Episode: 02</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Next Episode</span>
                                <span class="number-view pull-right">Oct, 17, 2012</span>
                            </p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="#">
                                    <img src="static/img/icons/play.png">
                                    <p>Diamond in the Rough</p>
                                </a>
                                <img class="border-radius-top" src="static/img/shows/bones.jpg">
                            </div>
                            <h5><a href="#">Bones</a></h5>
                            <h5><a href="#">Season: 08  |  Episode: 04</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Next Episode</span>
                                <span class="number-view pull-right"> Dec. 10, 2012</span>
                            </p>
                        </div>
                    </li>

                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="#">
                                    <img src="static/img/icons/play.png">
                                    <p>Through the Looking Glass</p>
                                </a>
                                <img class="border-radius-top" src="static/img/shows/criminal_minds.jpg">
                            </div>
                            <h5><a href="#">Criminal Minds</a></h5>
                            <h5><a href="#">Season: 08  |  Episode: 03</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Next Episode</span>
                                <span class="number-view pull-right">Oct 16, 2012</span>
                            </p>
                        </div>
                    </li>

                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="#">
                                    <img src="static/img/icons/play.png">
                                    <p></p>
                                </a>
                                <img class="border-radius-top" src="static/img/shows/continuum.jpg">
                            </div>
                            <h5><a href="#">Continuum</a></h5>
                            <h5><a href="#">Season: 02  |  Episode: 01</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Next Episode</span>
                                <span class="number-view pull-right">2013</span>
                            </p>
                        </div>
                    </li>

                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="#">
                                    <img src="static/img/icons/play.png">
                                    <p>Proceed with Caution</p>
                                </a>
                                <img class="border-radius-top" src="static/img/shows/beauty.jpg">
                            </div>
                            <h5><a href="#">Beauty and the Beast</a></h5>
                            <h5><a href="#">Season: 01  |  Episode: 02</a></h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Next Episode</span>
                                <span class="number-view pull-right">Oct 18, 2012</span>
                            </p>
                        </div>
                    </li>

                    <li class="span3">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="#">
                                    <img src="static/img/icons/play.png">
                                    <p>The Re-Entry Minimization</p>
                                </a>
                                <img class="border-radius-top" src="static/img/shows/big_bang.jpg">
                            </div>
                            <h5><a href="#">The Big Bang Theory</a></h5>
                            <h5><a href="#"></a>Season: 06  |  Episode: 04</h5>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Next Episode</span>
                                <span class="number-view pull-right">Oct 18, 2012</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div><!-- end  -->

            <!-- **************** start All Flie  ****************** -->
            <div class="box-wrapper span10">
                <div class="row">
                    <div class="title span10">
                        <h3 class="pull-left">Recommended Tv Shows!</h3>
                    </div><!-- end title -->
                </div>
                <ul class="thumbnails thumbnails-vertical">
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="#">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/shows/breaking_bad.jpg">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="#">Breaking Bad</a></h5>
                                <p>
                                    Informed he has terminal cancer, an underachieving chemistry genius turned high school teacher uses his expertise to secretly provide for his family by producing the world's highest quality crystal meth.
                                </p>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Next Episode</span>
                                <span class="number-view pull-right">Dec 15, 2012</span>
                            </p>
                        </div>
                    </li>
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="#">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/shows/the_newsroom.jpg">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="#">The Newsroom</a></h5>
                                <p>
                                    A news anchor has found a safe niche with his cable show, "News Night", but his life is stirred up when he is forced to work with a new team of colleagues.
                                </p>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Next Episode</span>
                                <span class="number-view pull-right">2013</span>
                            </p>
                        </div>
                    </li>

                </ul>
                <div class="row">
                    <div class="span10">
                        <div class="navigation pagination pull-right">
                            <ul>
                                <li><a href="#">←</a></li>
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">→</a></li>
                            </ul>
                        </div>
                    </div><!-- end navigation -->
                </div>
            </div><!-- end  -->
            <div class="row">
                <div class="list-menu box-wrapper span2">
                    <div class="row">
                        <div class="title bg-title span2">
                            <h3>Suggestions</h3>
                        </div>
                    </div>
                    <ul class="nav nav-list">
                        <li class="active"><a href="index.html"><i class="icon-list-alt"></i>Most viewed</a></li>
                        <li><a href="#"><i class="icon-list-alt"></i>By Friends</a></li>
                        <li><a href="#"><i class="icon-list-alt"></i>By Genre</a></li>
                    </ul>
                </div>
            </div><!-- row -->
            <!-- **************** end All Flie  ****************** -->
        </div><!-- row -->

    </div><!-- end container -->
</div><!-- end main -->
{% endblock %}