<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="assets/css/global.css" />
	<link type="text/css" rel="stylesheet" href="assets/css/color-button.css" />
	<!-- js Boots_from -->
	<script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
	
	<!-- end Boots_from -->
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true">
<div class="wrapper-login">
	<div class="container">
		<div class="row">
			<div class="login-content span4 offset4">
				<div class="header-login well">
					<h3>Login</h3>
				</div>
				<form class="well">
					<label>Username</label>
					<input type="text" class="input" placeholder="Type something…">
					<label>Password</label>
					<input type="text" class="input" placeholder="Type something…">

					<label class="checkbox">
				    	<input type="checkbox"> Check me out
					</label>
				  	<a href="index.html" type="submit" class="btn btn-info">Submit</a>
				  	<p class="sign-up-lg">Don't have an account? <a href="sign-up.html">Sign Up.</a></p>
				</form>	
			</div>
		<div>
	</div>
</div>
</body>
</html>


