<!DOCTYPE html>
<html>
<head>
	<title>pricing</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="assets/css/global.css" />
	<link type="text/css" rel="stylesheet" href="assets/css/color-button.css" />
	<!-- js Boots_from -->
	<script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
	<!-- end Boots_from -->
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true">

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">
				<span>Choose</span><span class="cl-blue">Logo</span>
			</a>
			<div class="nav-collapse">
				<ul class="nav pull-right">
              		<li><a href="index.html">Home</a></li>
              		<li><a href="blog.html">Blog</a></li>
              		<li><a href="element.html">Element</a></li>
              		<li><a href="detail.html">Detail</a></li>
              		<li><a href="pricing-plans.html">Pricing Plans</a></li>
					<li><a href="grid-layout.html">Grid Layout</a></li>

              		<li class="divider-vertical"></li>

              		<li class="avatar_small"><a href="account.html"></a></li>
            		<li class="dropdown">
            			<a class="dropdown-toggle" href="#" data-toggle="dropdown">
	            			john doe
	            			<b class="caret"></b>
            			</a>
            			<ul class="dropdown-menu">
							<li>
								<a href="profile.html">
									<i class="icon-user"></i>
									Account Setting  </a>
							</li>
							<li>
								<a href="setting.html">
									<i class="icon-lock"></i> Change Password</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="login.html"><i class="icon-off"></i> Logout</a>
							</li>
						</ul>
            		</li>
            	</ul>
			</div>
		</div>
	</div>
</div>
<!-- end navbar -->
<div class="main">
	<div class="container">
		<div class="row">
			<div class="pricing-plans plan-style1 span12">
				<div class="row">
					<div class="title span12">
						<h3>Plans-Style1</h3>
					</div>
				</div>
				<div class="plan-container border-rd4">
					<div class="plan-header">
						<h3 class="plan-title bg-title">Micro</h3>
						<div class="plan-price">$7</div>
					</div>
					<!-- end plan-header -->
					<div class="plan-content">
						<ul>
							<li><b>100MB</b> Disk Space</li>
							<li><b>200MB</b>Monthly Traffic</li>
							<li><b>2</b>Subdomains</li>
							<li><b>5</b>Email Accounts</li>
							<li>Webmail Support</li>
							<li>MySQL Support</li>
						</ul>
					</div>
					<!-- plan-content -->
					<div class="plan-footer border-radius-bottom">
						<a href="#">Sign Up</a>
					</div><!-- end plan-footer -->
				</div><!-- plan-container -->

				<div class="plan-container border-rd4">
					<div class="plan-header">
						<h3 class="plan-title bg-title">Corporate</h3>
						<div class="plan-price">$15</div>
					</div>
					<!-- end plan-header -->
					<div class="plan-content">
						<ul>
							<li><b>300MB</b> Disk Space</li>
							<li><b>400MB</b>Monthly Traffic</li>
							<li><b>5</b>Subdomains</li>
							<li><b>10</b>Email Accounts</li>
							<li>Webmail Support</li>
							<li>MySQL Support</li>
							<li>PHP5 Support</li>
						</ul>
					</div>
					<!-- plan-content -->
					<div class="plan-footer border-radius-bottom">
						<a href="#">Sign Up</a>
					</div><!-- end plan-footer -->
				</div><!-- plan-container -->

				<div class="plan-container border-rd4">
					<div class="plan-header">
						<h3 class="plan-title bg-title gd-blue-s1">Business</h3>
						<div class="plan-price blue">$37</div>
					</div>
					<!-- end plan-header -->
					<div class="plan-content">
						<ul>
							<li><b>1GB</b> Disk Space</li>
							<li><b>2GB</b>Monthly Traffic</li>
							<li><b>10</b>Subdomains</li>
							<li><b>25</b>Email Accounts</li>
							<li>Webmail Support</li>
							<li>MySQL Support</li>
							<li>PHP5 Support</li>
							<li>Plesk Control Panel</li>
						</ul>
					</div>
					<!-- plan-content -->
					<div class="plan-footer border-radius-bottom">
						<a href="#">Sign Up</a>
					</div><!-- end plan-footer -->
				</div><!-- plan-container -->

				<div class="plan-container border-rd4">
					<div class="plan-header">
						<h3 class="plan-title bg-title">Platinum</h3>
						<div class="plan-price">$97</div>
					</div>
					<!-- end plan-header -->
					<div class="plan-content">
						<ul>
							<li><b>5GB</b> Disk Space</li>
							<li><b>Unlimited</b>Monthly Traffic</li>
							<li><b>Unlimited</b>Subdomains</li>
							<li><b>Unlimited</b>Email Accounts</li>
							<li>Webmail Support</li>
							<li>MySQL Support</li>
							<li>PHP5 Support</li>
							<li>Plesk Control Panel</li>
							<li>Spam Assassin</li>
						</ul>
					</div>
					<!-- plan-content -->
					<div class="plan-footer border-radius-bottom">
						<a href="#">Sign Up</a>
					</div><!-- end plan-footer -->
				</div><!-- plan-container -->

			</div><!-- end pricing-plans plans-style1-->

			<div class="pricing-plans plan-style2 span12">
				<div class="row">
					<div class="title span12">
						<h3>Plans-Style2</h3>
					</div>
				</div>
				<div class="plan-container border-rd4">
					<div class="plan-header">
						<h3 class="plan-title bg-title">Micro</h3>
						<div class="plan-price">$7</div>
					</div>
					<!-- end plan-header -->
					<div class="plan-content">
						<ul>
							<li><b>100MB</b> Disk Space</li>
							<li><b>200MB</b>Monthly Traffic</li>
							<li><b>2</b>Subdomains</li>
							<li><b>5</b>Email Accounts</li>
							<li>Webmail Support</li>
							<li>MySQL Support</li>
						</ul>
					</div>
					<!-- plan-content -->
					<div class="plan-footer border-radius-bottom">
						<a href="#">Sign Up</a>
					</div><!-- end plan-footer -->
				</div><!-- plan-container -->

				<div class="plan-container border-rd4">
					<div class="plan-header">
						<h3 class="plan-title bg-title">Corporate</h3>
						<div class="plan-price">$15</div>
					</div>
					<!-- end plan-header -->
					<div class="plan-content">
						<ul>
							<li><b>300MB</b> Disk Space</li>
							<li><b>400MB</b>Monthly Traffic</li>
							<li><b>5</b>Subdomains</li>
							<li><b>10</b>Email Accounts</li>
							<li>Webmail Support</li>
							<li>MySQL Support</li>
							<li>PHP5 Support</li>
						</ul>
					</div>
					<!-- plan-content -->
					<div class="plan-footer border-radius-bottom">
						<a href="#">Sign Up</a>
					</div><!-- end plan-footer -->
				</div><!-- plan-container -->

				<div class="plan-container border-rd4">
					<div class="plan-header">
						<h3 class="plan-title bg-title gd-blue-s1">Business</h3>
						<div class="plan-price blue">$37</div>
					</div>
					<!-- end plan-header -->
					<div class="plan-content">
						<ul>
							<li><b>1GB</b> Disk Space</li>
							<li><b>2GB</b>Monthly Traffic</li>
							<li><b>10</b>Subdomains</li>
							<li><b>25</b>Email Accounts</li>
							<li>Webmail Support</li>
							<li>MySQL Support</li>
							<li>PHP5 Support</li>
							<li>Plesk Control Panel</li>
						</ul>
					</div>
					<!-- plan-content -->
					<div class="plan-footer border-radius-bottom">
						<a href="#">Sign Up</a>
					</div><!-- end plan-footer -->
				</div><!-- plan-container -->

				<div class="plan-container border-rd4">
					<div class="plan-header">
						<h3 class="plan-title bg-title">Platinum</h3>
						<div class="plan-price">$97</div>
					</div>
					<!-- end plan-header -->
					<div class="plan-content">
						<ul>
							<li><b>5GB</b> Disk Space</li>
							<li><b>Unlimited</b>Monthly Traffic</li>
							<li><b>Unlimited</b>Subdomains</li>
							<li><b>Unlimited</b>Email Accounts</li>
							<li>Webmail Support</li>
							<li>MySQL Support</li>
							<li>PHP5 Support</li>
							<li>Plesk Control Panel</li>
							<li>Spam Assassin</li>
						</ul>
					</div>
					<!-- plan-content -->
					<div class="plan-footer border-radius-bottom">
						<a href="#">Sign Up</a>
					</div><!-- end plan-footer -->
				</div><!-- plan-container -->

			</div><!-- end pricing-plans -->

		</div><!-- row -->
	</div><!-- end container -->
</div><!-- end main -->

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="span6 logo-vt">
				<a class="brand" href="#">
					<span>Choose</span><span class="cl-blue">Logo</span>
				</a>
				<span class="coppy_right">
					<p>Lorem ipsum dolor sit </p>
					<p>@2012 All Rights Reserved.</p>
				</span>
			</div>
			<div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">Contact</li>
					<li><a href="#">Support</a></li>
					<li><a href="#">About</a></li>
					<li>84.903.197.895</li>
				</ul>
			</div>
			<div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">Blog</li>
					<li><a href="#">Regulation</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
			<div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">Follow Us</li>
					<li><a href="#"><i class="twitter"></i>Twitter</a></li>
					<li><a href="#"><i class="facebook"></i>Facebook</a></li>
					<li><a href="#"><i class="dd"></i>Forum</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->

</body>
</html>


