            <!-- **************** start All Flie  ****************** -->
            <div class="box-wrapper span10">
                <div class="row">
                    <div class="title span10">
                        <h3 class="pull-left">Recommended Tv Shows!</h3>
                    </div><!-- end title -->
                </div>
                <ul class="thumbnails thumbnails-vertical">
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail.html">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/project/pj1.jpg">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="detail.html">Lorem ipsum dolor sit amet ... </a></h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">People watching</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail.html">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/project/pj2.jpg">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="detail.html">Lorem ipsum dolor sit amet ... </a></h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">People watching</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail.html">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/project/pj3.jpg">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="detail.html">Lorem ipsum dolor sit amet ... </a></h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">People watching</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail.html">
                                    <img src="static/img/icons/play.png">
                                </a>
                                <img class="border-radius-top" src="static/img/project/pj4.jpg">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="detail.html">Lorem ipsum dolor sit amet ... </a></h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">People watching</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>

                </ul>
                <div class="row">
                    <div class="span10">
                        <div class="navigation pagination pull-right">
                            <ul>
                                <li><a href="#">←</a></li>
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">→</a></li>
                            </ul>
                        </div>
                    </div><!-- end navigation -->
                </div>
            </div><!-- end  -->
            <div class="row">
                <div class="list-menu box-wrapper span2">
                    <div class="row">
                        <div class="title bg-title span2">
                            <h3>Suggestions</h3>
                        </div>
                    </div>
                    <ul class="nav nav-list">
                        <li class="active"><a href="index.html"><i class="icon-list-alt"></i>Most viewed</a></li>
                        <li><a href="#"><i class="icon-list-alt"></i>By Friends</a></li>
                        <li><a href="#"><i class="icon-list-alt"></i>By Genre</a></li>
                    </ul>
                </div>
            </div><!-- row -->
            <!-- **************** end All Flie  ****************** -->
        </div><!-- row -->