{% extends "base/base.html" %}

{% block content %}
<div class="wrapper-login">
    <div class="container">
        <div class="row">
            <div class="error404 span12">
                <h1>Reset</h1>
            </div>

            <div class="span12 box-wrapper">
                <div class="widget">
                    <div class="wrapper-search form-error404">
                        <h3  class="title">{{ message }}</h3>
                        <form class="form-inline" method="post">
                            <label class="error-style">{{ error }}</label><br>
                            <input type="text" name="email" class="input" placeholder="Email address…" value="{{ email }}">
                            {% if activation %}
                                <input type="text" name="activation" class="input" placeholder="Activation code…">
                                <input type="password" name="password" class="input" placeholder="Password…">
                                <input type="password" name="confirm" class="input" placeholder="Confirm Password…">
                            {% endif %}
                            <button class="btn btn-gray-s1">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}