{% extends "base/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="box-wrapper span12">
                <div class="widget">
                    <div class="wrapper-search">
                        <form class="form-inline form-search border-rd4" id="form_search">
                            <input placeholder="Type the name of a Tv Show to follow ..." type="text" id="search_show" class="box-text"/>
                            <a href="#" id="btn_search" class="btn-search"></a>
                        </form>
                    </div>
                </div>
            </div><!-- end box-wrapper -->
        </div>
        <div class="row">
            <div class="box-wrapper  span12">
                <div class="row">
                    <div class="title span12">
                        <h3 class="pull-left">My Tv Shows!</h3>
                        <div class="sort pull-right dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Display Shows: {{ filter }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'home' %}?shows=all"><i class="icon-tag"></i>All Shows</a></li>
                                <li><a href="{% url 'home' %}?shows=today"><i class="icon-list"></i>Today airdate</a></li>
                                <li><a href="{% url 'home' %}?shows=yesterday"><i class="icon-list"></i>Yesterday</a></li>
                                <li><a href="{% url 'home' %}?shows=monday"><i class="icon-calendar"></i>Monday</a></li>
                                <li><a href="{% url 'home' %}?shows=tuesday"><i class="icon-calendar"></i>Tuesday</a></li>
                                <li><a href="{% url 'home' %}?shows=wednesday"><i class="icon-calendar"></i>Wednesday</a></li>
                                <li><a href="{% url 'home' %}?shows=thursday"><i class="icon-calendar"></i>Thursday</a></li>
                                <li><a href="{% url 'home' %}?shows=friday"><i class="icon-calendar"></i>Friday</a></li>
                                <li><a href="{% url 'home' %}?shows=saturday"><i class="icon-calendar"></i>Saturday</a></li>
                                <li><a href="{% url 'home' %}?shows=sunday"><i class="icon-calendar"></i>Sunday</a></li>
                            </ul>
                        </div>
                    </div><!-- end title -->
                </div>
                <ul id="shows_list" class="thumbnails thumbnails-horizontal">
                    {% if shows %}
                    {% for show in shows %}
                        <li class="span3">
                            <div class="thumbnail border-radius-top">
                                <div class="bg-thumbnail-img">
                                    <a class="overlay" href="#">
                                        <img src="static/img/icons/play.png">
                                        <p>{{ show.episode_title }}</p>
                                    </a>
                                    <img class="border-radius-top" src="{{ show.image }}">
                                </div>
                                <h5><a href="/details?show={{ show.name }}">{{ show.title }}</a></h5>
                                <h5><a href="/details?show={{ show.name }}&episode={{ show.season }}x{{ show.episode }}">
                                    Season: {{ show.season }}  |  Episode: {{ show.episode }}</a></h5>
                            </div>
                            <div class="box border-radius-bottom">
                                <p>
                                    {% if show.today %}
                                        <span class="title_torrent pull-left pull-left">TODAY</span>
                                    {% else %}
                                        <span class="title_torrent pull-left">Next Episode</span>
                                        <span class="number-view pull-right"> {{ show.airdate }}</span>
                                    {% endif %}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                    {% else %}
                    <div id="not_following" class="widget-content">
                        <div class="hero-unit hero-unit2">
                          <p>You are not following any Tv Show... What are you waiting for?!</p>
                        </div>
                    </div>
                    {% endif %}
                </ul>
            </div><!-- end  -->

            <!-- **************** start All Flie  ****************** -->
            <div class="box-wrapper span10">
                <div class="row">
                    <div class="title span10">
                        <h3 class="pull-left">Recommended Tv Shows!</h3>
                    </div><!-- end title -->
                </div>
                <ul class="thumbnails thumbnails-vertical">
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <!--a class="overlay" href="#">
                                    <img src="static/img/icons/play.png">
                                </a-->
                                <img class="border-radius-top" src="{% static 'img/shows/05.jpg' %}">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="/details?show=breaking+bad">Breaking Bad</a></h5>
                                <p>
                                    Informed he has terminal cancer, an underachieving chemistry genius turned high school teacher uses his expertise to secretly provide for his family by producing the world's highest quality crystal meth.
                                </p>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Next Episode</span>
                                <span class="number-view pull-right">2013</span>
                            </p>
                        </div>
                    </li>
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <!--a class="overlay" href="#">
                                    <img src="static/img/icons/play.png">
                                </a-->
                                <img class="border-radius-top" src="{% static 'img/shows/07.jpg' %}">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="/details?show=the+newsroom">The Newsroom</a></h5>
                                <p>
                                    A news anchor has found a safe niche with his cable show, "News Night", but his life is stirred up when he is forced to work with a new team of colleagues.
                                </p>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Next Episode</span>
                                <span class="number-view pull-right">2013</span>
                            </p>
                        </div>
                    </li>

                </ul>
                <!--div class="row">
                    <div class="span10">
                        <div class="navigation pagination pull-right">
                            <ul>
                                <li><a href="#">←</a></li>
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">→</a></li>
                            </ul>
                        </div>
                    </div>
                </div-->
            </div><!-- end  -->
            <div class="row">
                <div class="list-menu box-wrapper span2">
                    <div class="row">
                        <div class="title bg-title span2">
                            <h3>Suggestions</h3>
                        </div>
                    </div>
                    <ul class="nav nav-list">
                        <li class="active"><a href="#"><i class="icon-list-alt"></i>Most viewed</a></li>
<!--
                        <li class="active"><a href="index.html"><i class="icon-list-alt"></i>Most rated</a></li>
                        <li><a href="#"><i class="icon-list-alt"></i>By Friends</a></li>
                        <li><a href="#"><i class="icon-list-alt"></i>By Genre</a></li>
-->
                    </ul>
                </div>
            </div><!-- row -->
            <!-- **************** end All File  ****************** -->
        </div><!-- row -->

    </div><!-- end container -->
</div><!-- end main -->
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/pnotify-1.2.0/jquery.pnotify.min.js' %}"></script>
<link href="{% static 'js/pnotify-1.2.0/jquery.pnotify.default.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'js/actions.js' %}"></script>
<script src="{% static 'js/index_customization.js' %}"></script>
{% endblock scripts %}
