{% extends "base/base.html" %}

{% block content %}
<div class="wrapper-login">
    <div class="container">
        <div class="row">
            <div class="error404 span12">
                <h1>404</h1>
            </div>

            <div class="span12 box-wrapper">
                <div class="widget">
                    <div class="wrapper-search form-error404">
                        <h3  class="title">WE'RE SORRY, BUT THE PAGE YOU WERE LOOKING FOR DOESN'T EXIST</h3>
                        <form class="form-inline">
                            <input type="text">
                            <button class="btn btn-gray-s1">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}