{% extends "base/base.html" %}

{% block content %}
<div class="wrapper-login">
    <div class="container">
        <div class="row">
            <div class="error404 span12">
                <h1>Report</h1>
            </div>

            <div class="span12 box-wrapper">
                <div class="widget">
                    <div class="wrapper-search form-error404">
                        <h3  class="title">Yay! What happend?</h3>
                        <form class="form-inline" method="post">
                            <textarea name="bug" rows="5" cols="20" wrap="soft"></textarea>
                            <button class="btn btn-gray-s1">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}